<body>
  <section>
    <h1>hi~~</h1>
    <form action="/logout" method="POST" >
      <!-- autocomplete="off" -->
      <button type="submit">
        Logout
      </button>
    </form>
  </section>
</body>